@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app, .middle {
  margin: 2%;
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    margin: 0 auto;
    /* place-items: center; */
  }

  #app, .middle {
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
