name: Run build & tests

on:
  push:
  pull_request:
  workflow_dispatch:


env:
  CARGO_TERM_COLOR: always

jobs:
  Test:


    runs-on: ubuntu-latest

    steps:
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Install wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Check out repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: make dependencies

    - name: Build
      run: make build

    - name: Run tests
      run: make test

    - name: Display mnemonic stats
      run: make stats
